.header_main{
  width: 100%;
  display: flex;
  background-color: aqua;

    .header_one{
      width: 50%;
      background-color: rgb(14, 7, 7);
    }

    .header_two{
      width: 50%;
      background-color: rgb(173, 173, 173);
      
    }
}

