.header_main {
  width: 100%;
  display: flex;

  background-color: white;

  .header_one {
    display: flex;
    width: 95%;

    p {
      margin-right: 5px;
      margin-left: 5px;
      color: rgb(160, 160, 160);
      cursor: pointer;
    }
    h3 {
      margin-top: 6px;
      color: rgb(160, 160, 160);
      font-size: 12px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .header_two {
    width: 5%;
    p {
      margin-top: 2px;
      color: rgb(160, 160, 160);
      cursor: pointer;
    }
  }
}
